#wrapper {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    padding: 1rem 2rem 2rem 2rem;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-shadow: 0 0 3rem rgba(0,0,0,0.1);
}

body.state-map #wrapper {
    background-color: transparent;
    background-image: none;
    background-blend-mode: unset;
}

/** loading */
.loading-title {
    font-size: 5vw;
}

.loading-message {
    font-size: 2vw;
    line-height: 1;
}    
