::-moz-selection {
    background: #8d6940;
    color: white;
    text-shadow: none;
}

::selection {
    background: #8d6940;
    color: white;
    text-shadow: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


 /** Fontello icons. If upgrades are needed, please use css/config.json to create a new group */
@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?55252203');
    src: url('font/fontello.eot?55252203#iefix') format('embedded-opentype'),
        url('font/fontello.woff2?55252203') format('woff2'),
        url('font/fontello.woff?55252203') format('woff'),
        url('font/fontello.ttf?55252203') format('truetype'),
        url('font/fontello.svg?55252203#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('font/montserrat-v14-cyrillic_latin_latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('font/montserrat-v14-cyrillic_latin_latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
       url('font/montserrat-v14-cyrillic_latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('font/montserrat-v14-cyrillic_latin_latin-ext-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('font/montserrat-v14-cyrillic_latin_latin-ext-regular.woff2') format('woff2'), /
       url('font/montserrat-v14-cyrillic_latin_latin-ext-regular.woff') format('woff'); 
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('font/montserrat-v14-cyrillic_latin_latin-ext-italic.woff') format('woff2'), 
       url('font/montserrat-v14-cyrillic_latin_latin-ext-italic.woff2') format('woff'); /
}

/* amatic-sc-regular - latin */
/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
       url('font/amatic-sc-v13-cyrillic_latin_latin-ext-regular.woff2') format('woff2'), 
       url('font/amatic-sc-v13-cyrillic_latin_latin-ext-regular.woff') format('woff'); 
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before { content: '\e800'; } 
.icon-attach:before { content: '\e801'; } 
.icon-right-big:before { content: '\e802'; } 
.icon-left-big:before { content: '\e803'; } 
.icon-down-big:before { content: '\e804'; } 
.icon-up-big:before { content: '\e805'; } 
.icon-edit:before { content: '\e806'; } 
.icon-users:before { content: '\e807'; } 
.icon-folder-open:before { content: '\e808'; } 
.icon-menu:before { content: '\f0c9'; } 
.icon-chart-pie:before { content: '\f200'; } 


/** Base layout */
html {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    color: #222;
    line-height: 1.25
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Update controls */
.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: 'Montserrat', sans-serif;
}

.vex.vex-theme-plain.full-width {
    padding-top: 1rem;
}

.vex.vex-theme-plain.full-width .vex-content {
    width: 90vw;
}


/** Header */
.main-header a,
.main-header a:hover,
.main-header a:visited {
    text-decoration: inherit;
    color: inherit;
}

.main-header h1 {
    margin: 0;
    padding: 0.5rem 0;
    font-weight: 300;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: #e59100;
    color: white;
    line-height: 1;
}

.toggle-menu-action {
    position: fixed;
    right: .5rem;
    display: none;
    top: .5rem;
    width: 2rem;
    height: 2rem;
    z-index: 10000;
    margin: 0;
    border: none;
    padding: 0;
    border-radius: 100%;
    background: none;
    background-color: #8d6940;
    line-height: 1;
    font-size: 1rem;
    color: white;
    text-align: center;
    
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}


/** Update PureCSS */
.pure-table {
    width: 100%;
}

.pure-table th {
    text-align: center;
}

.pure-form input,
.pure-form select, 
.pure-form textarea {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
}


/** Navigation */
nav {
    background-color: #8d6940;
    text-align: right;
    height: 100%;
}

.pure-menu-main {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15rem;
    box-shadow: 0 0 .25rem rgba(0,0,0,.5);;
}

.pure-menu-item {
    border-bottom: 1px dotted rgba(255,255,255,.7);
}

.pure-menu-selected .pure-menu-link, 
.pure-menu-selected .pure-menu-link:visited,
.pure-menu-active > .pure-menu-link, 
.pure-menu-link:focus, 
.pure-menu-link:hover {
    position: relative;
    background-color: #ffebcc;
    color: #8d6940;
}

.pure-menu-link > span {
    position: absolute;
    right: 0;
    font-size: 5rem;
    top: 50%;
    margin-top: -2.5rem;
    line-height: 1;
    color: rgba(255,255,255,.1);
}    
}

.pure-menu-selected .pure-menu-link:before,
.pure-menu-selected .pure-menu-link:visited:before,
.pure-menu-active > .pure-menu-link:before {
    content: " ";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -.33rem;
    margin-left: -.33em;
    z-index: 1;
    display: block;
    width: .76923rem;
    height: .76923rem;
    background-color: #ffebcc;
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

}

.pure-menu-link {
    position: relative;
    overflow: hidden;
    color: white;
}


/** Wrappers */
main {
    margin: 0 auto;
}

main h1 {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

main h1 a {
    color: inherit;
}

#wrapper {
    padding: 0 1rem;
}

footer {
    padding: 0;
    text-align: center;
    font-size: .5rem;
    line-height: 1;
    color: white;
}

.rating-panel .column-1 {
    min-width: 12rem;
}

.rating-panel .column-2 {
    min-width: 25rem;
}

.rating-panel td {
    position: relative;
}


.rating-panel .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.rating-panel [type="radio"] {
    display: none;
}

.rating-panel label {
    cursor: pointer;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-family: arial, sans-serif;
}

.rating-panel label:hover .shadow {
    background-color: rgba(0,0,0,.3);
}

.rating-panel td:nth-child(2) [type="radio"]:checked ~ .shadow {
    background-color: rgba(0,255,0,.3);
}

.rating-panel td:nth-child(3) [type="radio"]:checked ~ .shadow {
    background-color: rgba(255,255,0,.3);
}

.rating-panel td:nth-child(4) [type="radio"]:checked ~ .shadow {
    background-color: rgba(0,0,255,.3);
}

.rating-panel td:nth-child(5) [type="radio"]:checked ~ .shadow {
    background-color: rgba(255,0,0,.3);
}

.rating-panel caption {
    margin: 0;
    padding: 1rem 0;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    background-color: #e59100;
    color: white;
}

.rating-panel .evidences-row {
    display: none;
}

.rating-panel .evidences-row.has-evidence {
    display: table-row;
}

.rating-panel textarea {
    width: 100%;
}

.rating-panel tbody th {
    position: relative;
}

.rating-panel .actions .pure-button {
    font-size: 1rem;
}

.rating-panel-actions {
    margin: 1rem 0;
    text-align: right;
}

.help {
    background: #f0f0f0;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .25rem;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0,0,0,0.1);
}

.help *:first-child {
    margin-top: 0;
}

.help *:last-child {
    margin-bottom: 0;
}

.filters {
    margin: 1rem 0;
    padding: 1rem;   
    background: #f0f0f0;
    border-radius: .25rem;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0,0,0,0.1);
}

.student-profile {
    background: #f7f7f7;
    margin: 0 0 1rem 0;
    border: 1px solid #ccc;
}

.student .pure-button {
    padding: .2rem .5rem;
    margin: .5rem 0 0 0;
    font-size: .75rem;
    line-height: 1;
}


.thumb {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.thumb img {
    max-width: 100%;
}

.student {
    display: block;
    margin: 0 0 .5rem .5rem;
    overflow: hidden;
}

.student-thumb {
    float: left;
    margin: 0 .5rem .5rem 0;
    max-width: 4rem;
}

.student-thumb + div {
    margin-left: 5rem;
}

.student-name {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
}

.student-email {
    font-size: .7125rem;
}

.student-groups {
    font-size: .7125rem;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.form-step,
.pure-form .form-step {
    display: block;
    margin: 0 1rem 1rem 0;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 1rem 0;
}    

.form-step > div {
    margin: 0 0 1rem 0;
    font-family: 'Montserrat', sans-serif;
}

.form-step.inline {
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
}

.rubric-form-placeholder {
    overflow-x: scroll;
}

.rubric-form-placeholder::-webkit-scrollbar {
    -webkit-appearance: none;
}

.rubric-form-placeholder::-webkit-scrollbar:vertical {
    width: 12px;
}

.rubric-form-placeholder::-webkit-scrollbar:horizontal {
    height: 12px;
}

.rubric-form-placeholder::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.rubric-form-placeholder::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.toggle-menu-action {
    display: block;
}

.pure-menu-main {
    left: -15rem;
    z-index: 9999;
    
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

body.state-menu .pure-menu-main {
    left: 0;
}

body.state-menu .toggle-menu-action {
    transform: rotate(90deg);
}

.groups-table-placeholder {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.groups-table-placeholder > li {
    font-weight: bold;
}

.groups-table-placeholder ul {
    margin: 0 0 .5rem 0;
    padding: 0;
    list-style-type: none;
    font-size: .875rem;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}

.groups-table-placeholder ul li {
    border-bottom: 1px dotted #ccc;
    padding: .5rem .5rem .5rem 1.5rem;
}

.groups-table-placeholder ul li:hover {
    background-color: #f0f0f0;
}

.project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.progress-rubric {
    overflow: hidden;
    margin: 0 0 1rem 0;
    padding: 1rem;
    background: #f0f0f0;   
}

.progress-rubric h2 {
    margin: 0 0 1rem 0;
}

.progress-ratings {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.progress-ratings h2 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;   
}

.progress-ratings h3 {
    font-size: .75rem;
    font-weight: 400;
}

.progress-ratings ul {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style-type: none;
}

.progress-ratings ul li {
    border-bottom: 1px dotted #ccc;
    padding: .5rem 0 .5rem 1rem;
    font-size: .75rem;
    line-height: 1;
    overflow: hidden;
}

.progress-ratings ul li .key,
.progress-ratings ul li .value {
    display: inline-block;
    vertical-align: top;
}

.progress-ratings ul li .key {
    float: left;
    max-width: 70%;
}

.progress-ratings ul li .value {
    float: right;
    padding: 0 .5rem;
}

.progress-ratings .state_1 .value {
    background-color: rgba(0,255,0,.3);
}

.progress-ratings .state_2 .value {
    background-color: rgba(255,255,0,.3);
}

.progress-ratings .state_3 .value {
    background-color: rgba(0,0,255,.3);
}

.progress-ratings .state_4 .value {
    background-color: rgba(255,0,0,.3);
}

.assessment-item {
    margin: 0 0 1rem 0;
    border-bottom: 1px dotted #ccc;
    padding: 1rem;
    background: #feda9a;
    border-radius: .25rem;
    max-width: 43rem;   
}

.assessment-item h3 {
    margin: 0 0 1rem 0;
    font-size: 1rem; 
}

.assessment-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.assessment-item-questions > li {
    margin: 0 0 1rem 0;
    white-space: initial;
    overflow: hidden;
}

.assessment-item .answers li {
    margin: 0.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.assessment-item .answers {
    display: block;
    vertical-align: middle;
    font-size: 1rem;
    font-family: monospace;
}

.assessment-item .answers label {
    background: #f0f0f0;
    border-radius: .25rem;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.assessment-item .answers [type="radio"] {
    display: inline;
    opacity: 0;
    width: 0;
    margin: 0;
}

.assessment-item .answers [type="radio"]:invalid:focus + span {
    color: red;
}


.assessment-item .answers [type="radio"] + span {
    margin-left: -7px;
    padding: .3rem .5rem;
    display: inline-block;
}

.assessment-item .answers [type="radio"]:checked + span {
    background-color: #e59100;
    color: white;
}

.assessment-item-questions-text {
    display: block;
    margin: 0 0 .25rem 0;
    font-size: .875rem;
    font-style: italic;
}

.feedback_assessment_text {
    margin: 1rem 0 0 1rem;
    border-left: 1px solid #ccc;
    padding: 0 0 0 1rem;
    font-style: italic;    
    color: #e59100;
}

.feedback_assessment_description figure {
    max-width: 14rem;   
    margin: 0;
    float: right;
}

.feedback_assessment_description img {
    max-width: 100%;
}

.feedback_assessment_text p,
.feedback_assessment_description p {
    margin: 0;
}

.feedback_assessment_description h2 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 1rem 0;    
}



@media only screen and (max-width: 35em) {
    .pure-table td, .pure-table th {
        padding: 1rem .5rem;
    }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

