/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 
 /* https://mycolor.space/?hex=%23E59100&sub=1 #ffebcc */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?55252203');
  src: url('font/fontello.eot?55252203#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?55252203') format('woff2'),
       url('font/fontello.woff?55252203') format('woff'),
       url('font/fontello.ttf?55252203') format('truetype'),
       url('font/fontello.svg?55252203#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

 
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-down-big:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-folder-open:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: 'Montserrat', sans-serif;
}

.main-header a,
.main-header a:hover,
.main-header a:visited {
    text-decoration: inherit;
    color: inherit;
}

.main-header h1 {
    margin: 0;
    padding: 0.5rem 0;
    font-weight: 300;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: #e59100;
    color: white;
    line-height: 1;
}

.toggle-menu-action {
    position: fixed;
    right: .5rem;
    display: none;
    top: .5rem;
    width: 2rem;
    height: 2rem;
    z-index: 10000;
    margin: 0;
    border: none;
    padding: 0;
    border-radius: 100%;
    background: none;
    background-color: #8d6940;
    line-height: 1;
    font-size: 1rem;
    color: white;
    text-align: center;
    
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

nav {
    background-color: #8d6940;
    text-align: right;
    height: 100%;
}

.pure-menu-main {
    position: fixed;
    top: 0;
    left: -14.5rem;
    bottom: 0;
    width: 15rem;
    box-shadow: 0 0 2rem black;
}

.pure-menu-item {
    border-bottom: 1px dotted rgba(255,255,255,.7);
}

.pure-menu-selected .pure-menu-link, 
.pure-menu-selected .pure-menu-link:visited,
.pure-menu-active > .pure-menu-link, 
.pure-menu-link:focus, 
.pure-menu-link:hover {
    position: relative;
    background-color: #ffebcc;
    color: #8d6940;
}

.pure-menu-link > span {
    position: absolute;
    right: 0;
    font-size: 5rem;
    top: 50%;
    margin-top: -2.5rem;
    line-height: 1;
    color: rgba(255,255,255,.1);
}    
}

.pure-menu-selected .pure-menu-link:before,
.pure-menu-selected .pure-menu-link:visited:before,
.pure-menu-active > .pure-menu-link:before {
    content: " ";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -.33rem;
    margin-left: -.33em;
    z-index: 1;
    display: block;
    width: .76923rem;
    height: .76923rem;
    background-color: #ffebcc;
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

}

.pure-menu-link {
    position: relative;
    overflow: hidden;
    color: white;
}

.pure-table {
    width: 100%;
}
      
main {
    max-width: 80rem;
    margin: 1rem auto;
}

main h1 {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

#wrapper {
    padding-bottom: 6rem;
}

footer {
    padding: 0;
    text-align: center;
    font-size: .5rem;
    line-height: 1;
    color: white;
}

.rating-panel td {
    position: relative;
}


.rating-panel .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.rating-panel [type="radio"] {
    display: none;
}

.rating-panel label {
    cursor: pointer;
    display: block;
    margin: 0;
    text-align: center;
    font-size: .725rem;
    font-family: arial, sans-serif;
}

.rating-panel label:hover .shadow {
    background-color: rgba(0,0,0,.3);
}

.rating-panel td:nth-child(2) [type="radio"]:checked ~ .shadow {
    background-color: rgba(0,255,0,.3);
}

.rating-panel td:nth-child(3) [type="radio"]:checked ~ .shadow {
    background-color: rgba(255,255,0,.3);
}

.rating-panel td:nth-child(4) [type="radio"]:checked ~ .shadow {
    background-color: rgba(0,0,255,.3);
}

.rating-panel td:nth-child(5) [type="radio"]:checked ~ .shadow {
    background-color: rgba(255,0,0,.3);
}

.rating-panel caption {
    margin: 0;
    padding: 1rem 0;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    background-color: #e59100;
    color: white;
}

.rating-panel .evidences-row {
    display: none;
}

.rating-panel .evidences-row.has-evidence {
    display: table-row;
}

.rating-panel textarea {
    width: 100%;
}

.rating-panel tbody th {
    position: relative;
}

.rating-panel .actions {
    position: absolute;
    top: 0;
    left: 0;
    display: none;    
    font-size: 0;
}

.rating-panel tbody tr:hover .actions {
    display: block;
}

.rating-panel .actions .pure-button {
    font-size: 1rem;
}

.rating-panel-actions {
    margin: 1rem 0;
    text-align: right;
}

.help {
    background: #f0f0f0;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .25rem;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0,0,0,0.1);
}

.help *:first-child {
    margin-top: 0;
}

.help *:last-child {
    margin-bottom: 0;
}

.filters {
    margin: 1rem 0;
    padding: 1rem;   
    background: #f0f0f0;
    border-radius: .25rem;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0,0,0,0.1);
}

.filter {
    
}


.student-profile {
    background: #f7f7f7;
    margin: 0 0 1rem 0;
    border: 1px solid #ccc;
}

.thumb {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.thumb img {
    max-width: 100%;
}

.student {
    display: block;
    margin: 0 0 .5rem .5rem;
    overflow: hidden;
}

.student-thumb {
    float: left;
    margin: 0 .5rem .5rem 0;
    max-width: 4rem;
}

.student-thumb + div {
    margin-left: 5rem;
}

.student-name {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
}

.student-email {
    font-size: .7125rem;
}

.student-groups {
    font-size: .7125rem;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.form-step,
.pure-form .form-step {
    display: block;
    margin: 0 1rem 1rem 0;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 1rem 0;
}    

.form-step > div {
    margin: 0 0 1rem 0;
}

.form-step.inline {
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.toggle-menu-action {
    display: block;
}

.pure-menu-main {
    left: -14.9rem;
    z-index: 9999;
    
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

body.state-menu .pure-menu-main {
    left: 0;
}

.pure-menu-main:hover {
    left: 0;
}

body.state-menu .toggle-menu-action {
    transform: rotate(90deg);
}
    


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

