<article class="student">
    <figure class="student-thumb thumb">
        <img src="{{ photo }}" alt="{{ name }}" class="pure-img" />
    </figure>
    <div>
        <h2 class="student-name">{{ name }}</h2>
        <span class="student-identifier">{{ identifier }}</span>
        
        <ul class="student-groups">
        {{# _groups }}
            <li>{{ name }}</li>
        {{/ _groups }}
        </ul>
        
        <a href="#progress/{{ id }}" class="pure-button">
            {{# i18n }} frontend.pages.students.controls.progress.text {{/ i18n }}
        </a>
        
        <a href="#student/{{ id }}" class="pure-button">
            {{# i18n }} frontend.pages.students.controls.edit.text {{/ i18n }}
        </a>
        
    </div>
</article>