<!-- Title -->
<h1>
    {{# i18n }} frontend.pages.groups.title {{/ i18n }}
</h1>

<!-- Help and tips -->
<blockquote class="help">
    {{# i18n }} frontend.pages.groups.help.text {{/ i18n }}
</blockquote>


<!-- group -->
<ul class="groups-table-placeholder"></ul>


<!-- Actions -->
<div class="rating-panel-actions">
    <button type="button" class="create-group-action pure-button pure-button-primary">
        {{# i18n }} frontend.pages.groups.controls.create_group.text {{/ i18n }}
    </button>
    <button type="button" disabled class="delete-group-action pure-button">
        <span class="icon-cancel"></span> {{# i18n }} frontend.pages.groups.controls.delete_group.text {{/ i18n }}
    </button>
</div>