<form class="pure-form">
  
  <label class="form-step">
    <div><strong>Step 1. </strong>Select the group or create a new one</div>
    <select name="group" disabled>
      <option value="">{{# i18n }} common.controls.select_all_groups.text {{/ i18n }}</option>
    </select>
  </label>

  <div  class="form-step">
    <div><strong>Step 2. </strong>Submit a file with the students</div>
    <label for="file" class="pure-button"><span class="icon-attach"></span>Select file</label>
    <input id="file" type="file" hidden name="file" accept=".csv" />
  </div>  

  <div class="rating-panel-actions">
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
  </div>
  
</form>
