<!-- Title -->
<h1>
    {{# i18n }} frontend.pages.rate.title {{/ i18n }}
</h1>

<!-- Project -->
<label class="form-step inline">
  <div>Project</div>
  <select name="project">
    <option value="" disabled selected>{{# i18n }} common.controls.select.placeholder {{/ i18n }}</option>
  </select>
</label>

<!-- Rubric -->
<label class="form-step inline">
  <div>Select rubric</div>
  <select name="rubric">
    <option value="" disabled selected>{{# i18n }} common.controls.select.placeholder {{/ i18n }}</option>
  </select>
</label>

<label class="form-step inline">
  <div>Group</div>
  <select name="group">
    <option value="">{{# i18n }} common.controls.select_all_groups.text {{/ i18n }}</option>
  </select>
</label>


<!-- Student profile -->
<label class="form-step inline">
  <div>Select student</div>
  <select name="student">
    <option value="" disabled selected>{{# i18n }} common.controls.select.placeholder {{/ i18n }}</option>
  </select>
</label>

  
<div class="student-profile-placeholder"/></div>


<form class="pure-form" novalidate>

  <input type="hidden" name="student_id" value="" />
  <input type="hidden" name="rubric_id" value="" />

  <div class="rubric-form-placeholder"></div>
  
  <div class="rating-panel-actions">
    <button type="submit" class="pure-button pure-button-primary">Post rubric</button>
    <button type="button" class="pure-button" onclick="vex.dialog.alert ('@todo')">&lt;</button>
    <button type="button" class="pure-button" onclick="vex.dialog.alert ('@todo')">&gt;</button>
  </div>
  
</form>